* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* Estilos Barra lateral */
.lateral {
    position: fixed; /* Mantener el contenedor en su lugar */
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh; /* Altura del viewport */
    background-color: #333;
    text-align: center;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: bold;
    color: white;
}
.fotoperf {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.fotoperf img {
    width: 40%;
    height: auto;
    border-radius: 50%;
}
.acc ul li {
    list-style: none;
    padding: 40px 0;
}

.acc ul li a {
    color: #ffffff; /* Letras de la navegación negras */
    text-decoration: none;
    font-size: 18px;
    position: relative;
    display: block;
}

.acc ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #030A8C; /* Color de la línea del hover */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.acc ul li a:hover::after {
    width: 100%;
}
/* Estilos para el contenedor de contenido */

.Adentro {
    margin-left: 200px;
    
    overflow: auto;
    background-color: #f2f2f2;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    width: 80%;
}
  /* Estilos para el formulario de registro */
.Adentro .container {
    max-width: 600px;
    margin: 0 auto;
    
}

.Adentro h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Adentro label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Adentro input[type="text"],
.Adentro input[type="number"],
.Adentro input[type="date"],
.Adentro input[type="tel"],
.Adentro input[type="email"],
.Adentro textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Adentro textarea {
    resize: vertical;
}

.Adentro input[type="file"] {
    margin-bottom: 15px;
}

.Adentro #imagenPreviaContainer {
    margin-bottom: 15px;
    text-align: center;
}

.Adentro #imagenPrevia {
    max-width: 100%;
    max-height: 300px;
}

.Adentro input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.Adentro input[type="submit"]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
     /* Reglas adicionales para hacer el contenido responsivo */
    .lateral {
        position: static; /* Cambiar a posición estática en pantallas pequeñas */
        width: 100%;
        height: auto; /* Altura automática */
    }

    .Adentro {
        margin-left: 0; /* Eliminar el margen izquierdo */
    
    }

    .search-box {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }

    .search-box input {
        width: 100%; /* Anchura del 100% para el input */
        margin-bottom: 10px; /* Margen inferior para separar el input del botón */
    }

    .search-box:hover input {
        width: 100%; /* Mantener el ancho al 100% al hacer hover */
    }
}
